* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
}
a {
    text-decoration: none;
}
.container {
    margin: 1rem;
    padding: 3rem;
    min-height: 50vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}